Visualization Tool: dash.plotly

# To-Do
- [ ] Pagination 1a --> Tina
- [ ] Zweck der Daten --> Tina
- [ ] Vergleich zwischen Players 1d --> Huo
- [ ] Gegenüberstellung zwischen Age und Wage/Overall 1b --> Huo
- [ ] zusätzliche Filtern

# Aufgabe 1a)
Lesen Sie den Datensatz „Aufgabe-1.csv“ ein und untersuchen Sie den Zweck der Daten sowie die
Datenqualität. Identifizieren Sie mögliche Probleme in den Daten und beheben Sie die Fehler, falls
möglich. Dokumentieren Sie Ihr Vorgehen.

In [2]:
import pandas as pd

In [3]:
#df = pd.read_csv('aufgabe1_ori.csv')

## Clean data

![find error](1.png)

1. If you just read the data file with `df = pd.read_csv('aufgabe1.csv')` you will get error **"ParserError"**, since the data is somehow not "clean", which we need to deal with.
Concrete error: **ParserError: Error tokenizing data. C error: Expected 89 fields in line 3, saw 90**  
There should be 89 columns but some rows have 90, that's because in third 6th column "Positions Played" there are some players played more than one positions and in the data set use comma for &, e.g. 'CF,ST', but when it was read, this will cause confusion, because comma is to separate column.
What we can do is that replace , which is within '' with ;. We can use regex to identify this case, e.g. 'A,B', so we want 'A;B'

In [8]:
import re # regex
import pandas as pd

# Specify input and output file paths
input_file = 'aufgabe1_ori.csv'
output_file = 'aufgabe1_clean.csv'

# Read the CSV file line by line and replace commas within single quotes
lines = []
with open(input_file, 'r') as file:
    for line in file:
        # Use regex to find commas within single quotes and replace them with a semicolon
        modified_line = re.sub(r"'(.*?)'", lambda x: x.group(0).replace(',', ';'), line)
        lines.append(modified_line)

# Write the modified lines to a new CSV file
with open(output_file, 'w') as file:
    file.writelines(lines)

2. Again Error --> ParserError: Error tokenizing data. C error: Expected 89 fields in line 12922, saw 90
![find error](2.png)
The reason is that the expression in german way: 1100000,00€. The comma here will also be translated to the separation of column. Because this is the sole case, so I'd like to change this manuelly in .csv file, e.g. 1100000,00€ --> 1100000. **Change it in aufgabe1_ori.csv!!!**

3. Duplicates, unnecessary '' in column names and dataframe

In [5]:
# Now read the cleaned data with pandas and save it in df
df = pd.read_csv(output_file)
# deal with duplicates and save it in df
df = df.drop_duplicates()
# '' is not necessary in for the columns name
df.columns = df.columns.str.strip("'")
# '' is also not necessary 
df = df.map(lambda x: x.strip("'") if isinstance(x, str) else x)
df

/var/folders/y1/1tjj64zd37sdph6807cm97nh0000gn/T/ipykernel_15593/3800666950.py:2: DtypeWarning:

Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,CF;ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM;CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST;LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,Darren Collins,47,56,110000,ST;RM,CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,...,50,44,50,41,38,41,40,36,40,15
18535,Yang Dejiang,Dejiang Yang,47,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,...,45,45,45,47,48,47,49,49,49,15
18536,L. Mullan,Liam Mullan,47,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,...,52,49,52,46,44,46,46,42,46,17
18537,D. McCallion,Daithí McCallion,47,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,...,33,33,33,44,42,44,47,49,47,15
18538,N. Rabha,Nabin Rabha,47,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,...,44,40,44,46,43,46,47,47,47,19

Using '' is to indicate this element is string, but here we use object as data type, should we change to string? maybe not, just leave it as object for now.

3. DtypeWarning: Columns (4) have mixed types  

when we use pd.read_csv to read the csv file we got DtypeWarning, it tells us that column 4 has mixed data types, but if we check the data types using df.dtypes, I didn't see mixed types. I'm not sure about this, just leave it for now, it seems to me not a problem to finish the task.

In [84]:
# get data types of all columns
print(df.dtypes)

Known As          object
Full Name         object
Overall            int64
Potential          int64
Value(in Euro)    object
                   ...
RWB Rating         int64
LB Rating          int64
CB Rating          int64
RB Rating          int64
GK Rating          int64
Length: 89, dtype: object

In [6]:
# Check data types in column 4
unique_types = df['Potential'].map(type).value_counts()
print(unique_types)

Potential
<class 'int'>    18420
Name: count, dtype: int64

## Zweck der Daten

In [87]:
print(df.columns)

Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating'],
      dtype='object')

In [9]:
print(df.head())

         Known As           Full Name  Overall  Potential Value(in Euro)  \
0        L. Messi        Lionel Messi       91         91       54000000
1      K. Benzema       Karim Benzema       91         91       64000000
2  R. Lewandowski  Robert Lewandowski       91         91       84000000
3    K. De Bruyne     Kevin De Bruyne       91         91      107500000
4       K. Mbappé       Kylian Mbappé       91         95      190500000

  Positions Played Best Position Nationality  \
0               RW           CAM   Argentina
1            CF;ST            CF      France
2               ST            ST      Poland
3           CM;CAM            CM     Belgium
4            ST;LW            ST      France

                                         Image Link  Age  ...  LM Rating  \
0  https://cdn.sofifa.net/players/158/023/23_60.png   35  ...         91
1  https://cdn.sofifa.net/players/165/153/23_60.png   34  ...         89
2  https://cdn.sofifa.net/players/188/545/23_60.png   33  ...         86
3  https://cdn.sofifa.net/players/192/985/23_60.png   31  ...         91
4  https://cdn.sofifa.net/players/231/747/23_60.png   23  ...         92

   CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
0         88         91          67         66          67         62
1         84         89          67         67          67         63
2         83         86          67         69          67         64
3         91         91          82         82          82         78
4         84         92          70         66          70         66

  CB Rating RB Rating GK Rating
0        53        62        22
1        58        63        21
2        63        64        22
3        72        78        24
4        57        66        21

[5 rows x 89 columns]

In [10]:
print(df.tail())

           Known As         Full Name  Overall  Potential Value(in Euro)  \
18534    D. Collins    Darren Collins       47         56         110000
18535  Yang Dejiang      Dejiang Yang       47         57          90000
18536     L. Mullan       Liam Mullan       47         67         130000
18537  D. McCallion  Daithí McCallion       47         61         100000
18538      N. Rabha       Nabin Rabha       47         50          60000

      Positions Played Best Position          Nationality  \
18534            ST;RM           CAM  Republic of Ireland
18535              CDM           CDM             China PR
18536               CM            RM     Northern Ireland
18537               CB            CB  Republic of Ireland
18538               LB            LB                India

                                             Image Link  Age  ...  LM Rating  \
18534  https://cdn.sofifa.net/players/243/725/23_60.png   21  ...         50
18535  https://cdn.sofifa.net/players/261/933/23_60.png   17  ...         45
18536  https://cdn.sofifa.net/players/267/823/23_60.png   18  ...         52
18537  https://cdn.sofifa.net/players/267/824/23_60.png   17  ...         33
18538  https://cdn.sofifa.net/players/261/424/23_60.png   25  ...         44

       CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
18534         44         50          41         38          41         40
18535         45         45          47         48          47         49
18536         49         52          46         44          46         46
18537         33         33          44         42          44         47
18538         40         44          46         43          46         47

      CB Rating RB Rating GK Rating
18534        36        40        15
18535        49        49        15
18536        42        46        17
18537        49        47        15
18538        47        47        19

[5 rows x 89 columns]

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 18420 entries, 0 to 18538
Data columns (total 89 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Known As                     18420 non-null  object
 1   Full Name                    18420 non-null  object
 2   Overall                      18420 non-null  int64
 3   Potential                    18420 non-null  int64
 4   Value(in Euro)               18420 non-null  object
 5   Positions Played             18420 non-null  object
 6   Best Position                18420 non-null  object
 7   Nationality                  18419 non-null  object
 8   Image Link                   18420 non-null  object
 9   Age                          18420 non-null  int64
 10  Height(in cm)                18419 non-null  float64
 11  Weight(in kg)                18419 non-null  float64
 12  TotalStats                   18420 non-null  int64
 13  BaseStats                    18420 non-null  int64
 14  Club Name                    18420 non-null  object
 15  Wage(in Euro)                18420 non-null  int64
 16  Release Clause               18420 non-null  int64
 17  Club Position                18420 non-null  object
 18  Contract Until               18420 non-null  object
 19  Club Jersey Number           18420 non-null  object
 20  Joined On                    18420 non-null  int64
 21  On Loan                      18420 non-null  object
 22  Preferred Foot               18420 non-null  object
 23  Weak Foot Rating             18420 non-null  int64
 24  Skill Moves                  18420 non-null  int64
 25  International Reputation     18419 non-null  float64
 26  National Team Name           18420 non-null  object
 27  National Team Image Link     18420 non-null  object
 28  National Team Position       18420 non-null  object
 29  National Team Jersey Number  18420 non-null  object
 30  Attacking Work Rate          18420 non-null  object
 31  Defensive Work Rate          18420 non-null  object
 32  Pace Total                   18420 non-null  int64
 33  Shooting Total               18420 non-null  int64
 34  Passing Total                18420 non-null  int64
 35  Dribbling Total              18420 non-null  int64
 36  Defending Total              18420 non-null  int64
 37  Physicality Total            18420 non-null  int64
 38  Crossing                     18420 non-null  int64
 39  Finishing                    18420 non-null  int64
 40  Heading Accuracy             18420 non-null  int64
 41  Short Passing                18420 non-null  int64
 42  Volleys                      18420 non-null  int64
 43  Dribbling                    18420 non-null  int64
 44  Curve                        18420 non-null  int64
 45  Freekick Accuracy            18420 non-null  int64
 46  LongPassing                  18420 non-null  int64
 47  BallControl                  18420 non-null  int64
 48  Acceleration                 18420 non-null  int64
 49  Sprint Speed                 18420 non-null  int64
 50  Agility                      18420 non-null  int64
 51  Reactions                    18420 non-null  int64
 52  Balance                      18420 non-null  int64
 53  Shot Power                   18420 non-null  int64
 54  Jumping                      18420 non-null  int64
 55  Stamina                      18420 non-null  int64
 56  Strength                     18420 non-null  int64
 57  Long Shots                   18420 non-null  int64
 58  Aggression                   18420 non-null  int64
 59  Interceptions                18420 non-null  int64
 60  Positioning                  18419 non-null  float64
 61  Vision                       18420 non-null  int64
 62  Penalties                    18420 non-null  int64
 63  Composure                    18420 non-null  int64
 64  Marking                      18420 non-null  int64
 65  Standing Tackle              18420 non-null  int64
 66  Sliding Tackle               18420 non-null  int64
 67  Goalkeeper Diving            18420 non-null  int64
 68  Goalkeeper Handling          18419 non-null  float64
 69   GoalkeeperKicking           18420 non-null  int64
 70  Goalkeeper Positioning       18420 non-null  int64
 71  Goalkeeper Reflexes          18420 non-null  int64
 72  ST Rating                    18420 non-null  int64
 73  LW Rating                    18420 non-null  int64
 74  LF Rating                    18420 non-null  int64
 75  CF Rating                    18420 non-null  int64
 76  RF Rating                    18420 non-null  int64
 77  RW Rating                    18420 non-null  int64
 78  CAM Rating                   18420 non-null  int64
 79  LM Rating                    18420 non-null  int64
 80  CM Rating                    18420 non-null  int64
 81  RM Rating                    18420 non-null  int64
 82  LWB Rating                   18420 non-null  int64
 83  CDM Rating                   18420 non-null  int64
 84  RWB Rating                   18420 non-null  int64
 85  LB Rating                    18420 non-null  int64
 86  CB Rating                    18420 non-null  int64
 87  RB Rating                    18420 non-null  int64
 88  GK Rating                    18420 non-null  int64
dtypes: float64(5), int64(65), object(19)
memory usage: 12.6+ MB
None

In [12]:
print(df.describe())

            Overall     Potential           Age  Height(in cm)  Weight(in kg)  \
count  18420.000000  18420.000000  18420.000000   18419.000000   18419.000000
mean      65.792942     70.963301     25.243920     181.550247      75.169119
std        6.770177      6.170634      4.725456       6.854935       7.005754
min       47.000000     48.000000     16.000000     155.000000      49.000000
25%       62.000000     67.000000     21.000000     177.000000      70.000000
50%       66.000000     71.000000     25.000000     182.000000      75.000000
75%       70.000000     75.000000     29.000000     186.000000      80.000000
max       91.000000     95.000000     44.000000     206.000000     105.000000

        TotalStats     BaseStats  Wage(in Euro)  Release Clause     Joined On  \
count  18420.00000  18420.000000   18420.000000    1.842000e+04  18420.000000
mean    1600.67139    357.650543    8733.099891    5.015212e+06   2020.369110
std      272.81089     39.541870   19452.416115    1.468605e+07      2.055707
min      759.00000    224.000000       0.000000    0.000000e+00   2002.000000
25%     1469.00000    331.000000    1000.000000    6.600000e+05   2020.000000
50%     1639.00000    358.000000    3000.000000    1.500000e+06   2021.000000
75%     1784.00000    385.000000    7000.000000    3.300000e+06   2022.000000
max     2312.00000    502.000000  450000.000000    3.667000e+08   2022.000000

       ...     LM Rating     CM Rating     RM Rating    LWB Rating  \
count  ...  18420.000000  18420.000000  18420.000000  18420.000000
mean   ...     58.390011     57.309989     58.390011     56.219110
std    ...     13.972513     13.156296     13.972513     13.887301
min    ...     18.000000     18.000000     18.000000     17.000000
25%    ...     54.000000     53.000000     54.000000     51.000000
50%    ...     62.000000     60.000000     62.000000     59.000000
75%    ...     67.000000     66.000000     67.000000     65.000000
max    ...     92.000000     91.000000     92.000000     88.000000

         CDM Rating    RWB Rating     LB Rating     CB Rating     RB Rating  \
count  18420.000000  18420.000000  18420.000000  18420.000000  18420.000000
mean      55.864875     56.219110     55.588111     54.467372     55.588111
std       13.854782     13.887301     14.141491     14.729398     14.141491
min       19.000000     17.000000     17.000000      0.000000     17.000000
25%       48.000000     51.000000     49.000000     44.000000     49.000000
50%       59.000000     59.000000     59.000000     58.000000     59.000000
75%       66.000000     65.000000     65.000000     66.000000     65.000000
max       89.000000     88.000000     87.000000     90.000000     87.000000

          GK Rating
count  18420.000000
mean      23.259175
std       15.114423
min       10.000000
25%       17.000000
50%       18.000000
75%       20.000000
max       90.000000

[8 rows x 70 columns]

## Analysis of the data purpose
This data set shows: (to be complete...)
- Information over soccer player, including basic personal information, analysis of skills, values etc.
-

# Aufgabe 1b)-1d)
b) Visualisieren Sie die Daten aus a) mittels einer interaktiven Applikation in Python, indem Sie die Verteilungen darstellen:  
- Verteilung der Items ???
- Gegenüberstellung der Attribute Age und Wage (in Euro)
- Gegenüberstellung der Attribute Age und Overall  


c) Bauen Sie bei allen Darstellungen Interaktionsmöglichkeiten zum Filtern der Daten ein. <span style='color:#CC3333; background:; font-size:;'>Sollten die Daten Ausreißer haben, passen Sie Ihre Visualisierung dahingehend an.</span> Bauen Sie zudem Filtermöglichkeiten zum Filtern nach den Attribute Nationality und Club ein.  
d) Erstellen Sie eine Darstellung zum Vergleich von Datenpunkten, bsp. Zeile 5 mit Zeile 35 des Datensatz. Die zuvergleichenden Datenpunkte sollen interaktiv wählbar sein.

## "Excel" App

In [ ]:
# Import packages
from dash import Dash, html, dash_table

# Incorporate data
df = pd.read_csv('aufgabe1_clean.csv')

# Initialize the app
app = Dash()

# App layout
app.layout = [
    html.Div(children='My First App with Data'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=20)
]

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

## Aufgabe App

In [7]:
# pip install dash-ag-grid
import pandas as pd
from dash import Dash, html, dcc, Input, Output, callback
import plotly.express as px
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template
import dash_ag_grid as dag


# read data from the csv file
# df = pd.read_csv("aufgabe1_clean.csv")

# Initialize dash app with bootstrap theme
load_figure_template('morph')
app = Dash(__name__, external_stylesheets=[dbc.themes.MORPH])

fig = px.histogram(df, x='Age', y='Overall', histfunc='avg')

# sorted_nat = sorted(df['Nationality'].unique())

# Layout, HTML Components
app.layout = html.Div([
    # title
    html.H1(f'IVDA Praktikum Aufgabe 1', className='text-center pb-3'),
    # Dashboard
    # 1. Verteilung der Items? I'm not sure about what is Verteilung der Items, I use a table to show all informations of every players
    dag.AgGrid(
        id="grid",
        rowData=df.to_dict("records"),
        columnDefs=[{"field": i} for i in df.columns],
    ),
    
    # 2. Correlation between Overall and Age, Wage and Age
    dcc.Dropdown(options=['Overall', 'Wage(in Euro)'], value='Overall', id='y_options'),
    dcc.Graph(figure=fig, id='correlation'),

    # Filter Dropdown for nationality and club
    # ideal: if I don't choose --> not filter by that dimension/ if I choose "all"(if I can figure it out) --> all nationality or club
    html.Div([
        "Choose Nationality",
        dcc.Dropdown(
            # options=[{'label': 'All', 'value':'All'}] + [{'label': nationality, 'value': nationality} for nationality in df['Nationality'].unique()], # sorted(df['Nationality'].unique())
            options=df['Nationality'].unique(),
            value='',
            id='nationality'
        )
    ]),
    html.Div([
        "Choose Club",
        dcc.Dropdown(
            # options=[{'label': 'All', 'value':'All'}] + [{'label': club, 'value': club} for club in df['Club Name'].unique()],
            options=df['Club Name'].unique(),
            value='', 
            id='club'
        )
    ]),
    

    # Footer
    html.Footer([
        html.Div([
            html.A('Author: Huo Jiang, Tina', href='https://github.com/hurryclear/interactive-visualization-data-analysis-app'),
            html.Span(' | '),
            html.A('Copyright', href='https://www.uni-leipzig.de')
        ], className='bg-light text-dark text-center py-3 fs-5')
    ])
])

# add controls to build the interaction

@callback(
    Output(component_id='correlation', component_property='figure'),
    Input(component_id='y_options', component_property='value'), # input for the callback functions, this corresponds to col_chosen
    Input(component_id='nationality', component_property='value'),
    Input(component_id='club', component_property='value'),
)
def update_graph(col_chosen, nationality, club): # club
    
    df_filtered = df

    # by nationality or club
    df_filtered = df_filtered[(df_filtered["Nationality"] == nationality) | (df_filtered["Club Name"] == club)]

    # px.histogram(df, x='Age', y=col_chosen, histfunc='avg')
    # not like histogram in line chart there is no embedded avg function, so we have to group the data by the age first and caculate the avg of overall and wage
    df_avg_by_age = df_filtered.groupby('Age', as_index=False)[col_chosen].mean()

    fig = px.line(df_avg_by_age, x = 'Age', y = col_chosen, title=f'Average of {col_chosen} by Age', markers=True)
    return fig # what you return will be assigned to the callback output component_property, in this case fig1 will be return to figure

if __name__ == '__main__':
    app.run_server(debug=True)