Visualization Tool: dash.plotly

# To-Do
- [ ] Pagination 1a --> Tina
- [ ] Zweck der Daten --> Tina
- [ ] Vergleich zwischen Players 1d --> Huo
- [ ] Gegenüberstellung zwischen Age und Wage/Overall 1b --> Huo
- [ ] zusätzliche Filtern

# Aufgabe 1a)
Lesen Sie den Datensatz „Aufgabe-1.csv“ ein und untersuchen Sie den Zweck der Daten sowie die
Datenqualität. Identifizieren Sie mögliche Probleme in den Daten und beheben Sie die Fehler, falls
möglich. Dokumentieren Sie Ihr Vorgehen.

In [2]:
import pandas as pd

In [3]:
#df = pd.read_csv('aufgabe1_ori.csv')

## Clean data

![find error](1.png)

1. If you just read the data file with `df = pd.read_csv('aufgabe1.csv')` you will get error **"ParserError"**, since the data is somehow not "clean", which we need to deal with.
Concrete error: **ParserError: Error tokenizing data. C error: Expected 89 fields in line 3, saw 90**  
There should be 89 columns but some rows have 90, that's because in third 6th column "Positions Played" there are some players played more than one positions and in the data set use comma for &, e.g. 'CF,ST', but when it was read, this will cause confusion, because comma is to separate column.
What we can do is that replace , which is within '' with ;. We can use regex to identify this case, e.g. 'A,B', so we want 'A;B'

In [8]:
import re # regex
import pandas as pd

# Specify input and output file paths
input_file = 'aufgabe1_ori.csv'
output_file = 'aufgabe1_clean.csv'

# Read the CSV file line by line and replace commas within single quotes
lines = []
with open(input_file, 'r') as file:
    for line in file:
        # Use regex to find commas within single quotes and replace them with a semicolon
        modified_line = re.sub(r"'(.*?)'", lambda x: x.group(0).replace(',', ';'), line)
        lines.append(modified_line)

# Write the modified lines to a new CSV file
with open(output_file, 'w') as file:
    file.writelines(lines)

2. Again Error --> ParserError: Error tokenizing data. C error: Expected 89 fields in line 12922, saw 90
![find error](2.png)
The reason is that the expression in german way: 1100000,00€. The comma here will also be translated to the separation of column. Because this is the sole case, so I'd like to change this manuelly in .csv file, e.g. 1100000,00€ --> 1100000. **Change it in aufgabe1_ori.csv!!!**

3. Duplicates, unnecessary '' in column names and dataframe

In [30]:
# Now read the cleaned data with pandas and save it in df
df = pd.read_csv(output_file)
# deal with duplicates and save it in df
df = df.drop_duplicates()
# '' is not necessary in for the columns name
df.columns = df.columns.str.strip("'")
# '' is also not necessary 
df = df.map(lambda x: x.strip("'") if isinstance(x, str) else x)
df

/var/folders/y1/1tjj64zd37sdph6807cm97nh0000gn/T/ipykernel_44879/3800666950.py:2: DtypeWarning:

Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,91,88,91,67,66,67,62,53,62,22
1,K. Benzema,Karim Benzema,91,91,64000000,CF;ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,34,...,89,84,89,67,67,67,63,58,63,21
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,86,83,86,67,69,67,64,63,64,22
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM;CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,31,...,91,91,91,82,82,82,78,72,78,24
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST;LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,23,...,92,84,92,70,66,70,66,57,66,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18534,D. Collins,Darren Collins,47,56,110000,ST;RM,CAM,Republic of Ireland,https://cdn.sofifa.net/players/243/725/23_60.png,21,...,50,44,50,41,38,41,40,36,40,15
18535,Yang Dejiang,Dejiang Yang,47,57,90000,CDM,CDM,China PR,https://cdn.sofifa.net/players/261/933/23_60.png,17,...,45,45,45,47,48,47,49,49,49,15
18536,L. Mullan,Liam Mullan,47,67,130000,CM,RM,Northern Ireland,https://cdn.sofifa.net/players/267/823/23_60.png,18,...,52,49,52,46,44,46,46,42,46,17
18537,D. McCallion,Daithí McCallion,47,61,100000,CB,CB,Republic of Ireland,https://cdn.sofifa.net/players/267/824/23_60.png,17,...,33,33,33,44,42,44,47,49,47,15
18538,N. Rabha,Nabin Rabha,47,50,60000,LB,LB,India,https://cdn.sofifa.net/players/261/424/23_60.png,25,...,44,40,44,46,43,46,47,47,47,19

Using '' is to indicate this element is string, but here we use object as data type, should we change to string? maybe not, just leave it as object for now.

3. DtypeWarning: Columns (4) have mixed types  

when we use pd.read_csv to read the csv file we got DtypeWarning, it tells us that column 4 has mixed data types, but if we check the data types using df.dtypes, I didn't see mixed types. I'm not sure about this, just leave it for now, it seems to me not a problem to finish the task.

In [84]:
# get data types of all columns
print(df.dtypes)

Known As          object
Full Name         object
Overall            int64
Potential          int64
Value(in Euro)    object
                   ...
RWB Rating         int64
LB Rating          int64
CB Rating          int64
RB Rating          int64
GK Rating          int64
Length: 89, dtype: object

In [6]:
# Check data types in column 4
unique_types = df['Potential'].map(type).value_counts()
print(unique_types)

Potential
<class 'int'>    18420
Name: count, dtype: int64

## Zweck der Daten

In [87]:
print(df.columns)

Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating'],
      dtype='object')

In [9]:
print(df.head())

         Known As           Full Name  Overall  Potential Value(in Euro)  \
0        L. Messi        Lionel Messi       91         91       54000000
1      K. Benzema       Karim Benzema       91         91       64000000
2  R. Lewandowski  Robert Lewandowski       91         91       84000000
3    K. De Bruyne     Kevin De Bruyne       91         91      107500000
4       K. Mbappé       Kylian Mbappé       91         95      190500000

  Positions Played Best Position Nationality  \
0               RW           CAM   Argentina
1            CF;ST            CF      France
2               ST            ST      Poland
3           CM;CAM            CM     Belgium
4            ST;LW            ST      France

                                         Image Link  Age  ...  LM Rating  \
0  https://cdn.sofifa.net/players/158/023/23_60.png   35  ...         91
1  https://cdn.sofifa.net/players/165/153/23_60.png   34  ...         89
2  https://cdn.sofifa.net/players/188/545/23_60.png   33  ...         86
3  https://cdn.sofifa.net/players/192/985/23_60.png   31  ...         91
4  https://cdn.sofifa.net/players/231/747/23_60.png   23  ...         92

   CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
0         88         91          67         66          67         62
1         84         89          67         67          67         63
2         83         86          67         69          67         64
3         91         91          82         82          82         78
4         84         92          70         66          70         66

  CB Rating RB Rating GK Rating
0        53        62        22
1        58        63        21
2        63        64        22
3        72        78        24
4        57        66        21

[5 rows x 89 columns]

In [10]:
print(df.tail())

           Known As         Full Name  Overall  Potential Value(in Euro)  \
18534    D. Collins    Darren Collins       47         56         110000
18535  Yang Dejiang      Dejiang Yang       47         57          90000
18536     L. Mullan       Liam Mullan       47         67         130000
18537  D. McCallion  Daithí McCallion       47         61         100000
18538      N. Rabha       Nabin Rabha       47         50          60000

      Positions Played Best Position          Nationality  \
18534            ST;RM           CAM  Republic of Ireland
18535              CDM           CDM             China PR
18536               CM            RM     Northern Ireland
18537               CB            CB  Republic of Ireland
18538               LB            LB                India

                                             Image Link  Age  ...  LM Rating  \
18534  https://cdn.sofifa.net/players/243/725/23_60.png   21  ...         50
18535  https://cdn.sofifa.net/players/261/933/23_60.png   17  ...         45
18536  https://cdn.sofifa.net/players/267/823/23_60.png   18  ...         52
18537  https://cdn.sofifa.net/players/267/824/23_60.png   17  ...         33
18538  https://cdn.sofifa.net/players/261/424/23_60.png   25  ...         44

       CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
18534         44         50          41         38          41         40
18535         45         45          47         48          47         49
18536         49         52          46         44          46         46
18537         33         33          44         42          44         47
18538         40         44          46         43          46         47

      CB Rating RB Rating GK Rating
18534        36        40        15
18535        49        49        15
18536        42        46        17
18537        49        47        15
18538        47        47        19

[5 rows x 89 columns]

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 18420 entries, 0 to 18538
Data columns (total 89 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Known As                     18420 non-null  object
 1   Full Name                    18420 non-null  object
 2   Overall                      18420 non-null  int64
 3   Potential                    18420 non-null  int64
 4   Value(in Euro)               18420 non-null  object
 5   Positions Played             18420 non-null  object
 6   Best Position                18420 non-null  object
 7   Nationality                  18419 non-null  object
 8   Image Link                   18420 non-null  object
 9   Age                          18420 non-null  int64
 10  Height(in cm)                18419 non-null  float64
 11  Weight(in kg)                18419 non-null  float64
 12  TotalStats                   18420 non-null  int64
 13  BaseStats                    18420 non-null  int64
 14  Club Name                    18420 non-null  object
 15  Wage(in Euro)                18420 non-null  int64
 16  Release Clause               18420 non-null  int64
 17  Club Position                18420 non-null  object
 18  Contract Until               18420 non-null  object
 19  Club Jersey Number           18420 non-null  object
 20  Joined On                    18420 non-null  int64
 21  On Loan                      18420 non-null  object
 22  Preferred Foot               18420 non-null  object
 23  Weak Foot Rating             18420 non-null  int64
 24  Skill Moves                  18420 non-null  int64
 25  International Reputation     18419 non-null  float64
 26  National Team Name           18420 non-null  object
 27  National Team Image Link     18420 non-null  object
 28  National Team Position       18420 non-null  object
 29  National Team Jersey Number  18420 non-null  object
 30  Attacking Work Rate          18420 non-null  object
 31  Defensive Work Rate          18420 non-null  object
 32  Pace Total                   18420 non-null  int64
 33  Shooting Total               18420 non-null  int64
 34  Passing Total                18420 non-null  int64
 35  Dribbling Total              18420 non-null  int64
 36  Defending Total              18420 non-null  int64
 37  Physicality Total            18420 non-null  int64
 38  Crossing                     18420 non-null  int64
 39  Finishing                    18420 non-null  int64
 40  Heading Accuracy             18420 non-null  int64
 41  Short Passing                18420 non-null  int64
 42  Volleys                      18420 non-null  int64
 43  Dribbling                    18420 non-null  int64
 44  Curve                        18420 non-null  int64
 45  Freekick Accuracy            18420 non-null  int64
 46  LongPassing                  18420 non-null  int64
 47  BallControl                  18420 non-null  int64
 48  Acceleration                 18420 non-null  int64
 49  Sprint Speed                 18420 non-null  int64
 50  Agility                      18420 non-null  int64
 51  Reactions                    18420 non-null  int64
 52  Balance                      18420 non-null  int64
 53  Shot Power                   18420 non-null  int64
 54  Jumping                      18420 non-null  int64
 55  Stamina                      18420 non-null  int64
 56  Strength                     18420 non-null  int64
 57  Long Shots                   18420 non-null  int64
 58  Aggression                   18420 non-null  int64
 59  Interceptions                18420 non-null  int64
 60  Positioning                  18419 non-null  float64
 61  Vision                       18420 non-null  int64
 62  Penalties                    18420 non-null  int64
 63  Composure                    18420 non-null  int64
 64  Marking                      18420 non-null  int64
 65  Standing Tackle              18420 non-null  int64
 66  Sliding Tackle               18420 non-null  int64
 67  Goalkeeper Diving            18420 non-null  int64
 68  Goalkeeper Handling          18419 non-null  float64
 69   GoalkeeperKicking           18420 non-null  int64
 70  Goalkeeper Positioning       18420 non-null  int64
 71  Goalkeeper Reflexes          18420 non-null  int64
 72  ST Rating                    18420 non-null  int64
 73  LW Rating                    18420 non-null  int64
 74  LF Rating                    18420 non-null  int64
 75  CF Rating                    18420 non-null  int64
 76  RF Rating                    18420 non-null  int64
 77  RW Rating                    18420 non-null  int64
 78  CAM Rating                   18420 non-null  int64
 79  LM Rating                    18420 non-null  int64
 80  CM Rating                    18420 non-null  int64
 81  RM Rating                    18420 non-null  int64
 82  LWB Rating                   18420 non-null  int64
 83  CDM Rating                   18420 non-null  int64
 84  RWB Rating                   18420 non-null  int64
 85  LB Rating                    18420 non-null  int64
 86  CB Rating                    18420 non-null  int64
 87  RB Rating                    18420 non-null  int64
 88  GK Rating                    18420 non-null  int64
dtypes: float64(5), int64(65), object(19)
memory usage: 12.6+ MB
None

In [12]:
print(df.describe())

            Overall     Potential           Age  Height(in cm)  Weight(in kg)  \
count  18420.000000  18420.000000  18420.000000   18419.000000   18419.000000
mean      65.792942     70.963301     25.243920     181.550247      75.169119
std        6.770177      6.170634      4.725456       6.854935       7.005754
min       47.000000     48.000000     16.000000     155.000000      49.000000
25%       62.000000     67.000000     21.000000     177.000000      70.000000
50%       66.000000     71.000000     25.000000     182.000000      75.000000
75%       70.000000     75.000000     29.000000     186.000000      80.000000
max       91.000000     95.000000     44.000000     206.000000     105.000000

        TotalStats     BaseStats  Wage(in Euro)  Release Clause     Joined On  \
count  18420.00000  18420.000000   18420.000000    1.842000e+04  18420.000000
mean    1600.67139    357.650543    8733.099891    5.015212e+06   2020.369110
std      272.81089     39.541870   19452.416115    1.468605e+07      2.055707
min      759.00000    224.000000       0.000000    0.000000e+00   2002.000000
25%     1469.00000    331.000000    1000.000000    6.600000e+05   2020.000000
50%     1639.00000    358.000000    3000.000000    1.500000e+06   2021.000000
75%     1784.00000    385.000000    7000.000000    3.300000e+06   2022.000000
max     2312.00000    502.000000  450000.000000    3.667000e+08   2022.000000

       ...     LM Rating     CM Rating     RM Rating    LWB Rating  \
count  ...  18420.000000  18420.000000  18420.000000  18420.000000
mean   ...     58.390011     57.309989     58.390011     56.219110
std    ...     13.972513     13.156296     13.972513     13.887301
min    ...     18.000000     18.000000     18.000000     17.000000
25%    ...     54.000000     53.000000     54.000000     51.000000
50%    ...     62.000000     60.000000     62.000000     59.000000
75%    ...     67.000000     66.000000     67.000000     65.000000
max    ...     92.000000     91.000000     92.000000     88.000000

         CDM Rating    RWB Rating     LB Rating     CB Rating     RB Rating  \
count  18420.000000  18420.000000  18420.000000  18420.000000  18420.000000
mean      55.864875     56.219110     55.588111     54.467372     55.588111
std       13.854782     13.887301     14.141491     14.729398     14.141491
min       19.000000     17.000000     17.000000      0.000000     17.000000
25%       48.000000     51.000000     49.000000     44.000000     49.000000
50%       59.000000     59.000000     59.000000     58.000000     59.000000
75%       66.000000     65.000000     65.000000     66.000000     65.000000
max       89.000000     88.000000     87.000000     90.000000     87.000000

          GK Rating
count  18420.000000
mean      23.259175
std       15.114423
min       10.000000
25%       17.000000
50%       18.000000
75%       20.000000
max       90.000000

[8 rows x 70 columns]

## Analysis of the data purpose
This data set shows: (to be complete...)
- Information over soccer player, including basic personal information, analysis of skills, values etc.
-

# Aufgabe 1b)-1d)
b) Visualisieren Sie die Daten aus a) mittels einer interaktiven Applikation in Python, indem Sie die Verteilungen darstellen:  
- Verteilung der Items ???
- Gegenüberstellung der Attribute Age und Wage (in Euro)
- Gegenüberstellung der Attribute Age und Overall  


c) Bauen Sie bei allen Darstellungen Interaktionsmöglichkeiten zum Filtern der Daten ein. <span style='color:#CC3333; background:; font-size:;'>Sollten die Daten Ausreißer haben, passen Sie Ihre Visualisierung dahingehend an.</span> Bauen Sie zudem Filtermöglichkeiten zum Filtern nach den Attribute Nationality und Club ein.  
d) Erstellen Sie eine Darstellung zum Vergleich von Datenpunkten, bsp. Zeile 5 mit Zeile 35 des Datensatz. Die zuvergleichenden Datenpunkte sollen interaktiv wählbar sein.

## Test App

In [ ]:
# Import packages
from dash import Dash, html, dash_table

# Incorporate data
df = pd.read_csv('aufgabe1_clean.csv')

# Initialize the app
app = Dash()

# App layout
app.layout = [
    html.Div(children='My First App with Data'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=20)
]

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

## Aufgabe App

In [ ]:
# pip install dash-ag-grid
import pandas as pd
from dash import Dash, html, dcc, Input, Output, callback
import plotly.express as px
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template
import dash_ag_grid as dag


# read data from the csv file
# df = pd.read_csv("aufgabe1_clean.csv")

# Initialize dash app with bootstrap theme
load_figure_template('morph')
app = Dash(__name__, external_stylesheets=[dbc.themes.MORPH])

fig = px.histogram(df, x='Age', y='Overall', histfunc='avg')

left_row_style = {'margin': '2px 0', 'textAlign' : 'right'}
row_style = {'margin': '2px 0'}
# sorted_nat = sorted(df['Nationality'].unique())

# Layout, HTML Components
app.layout = html.Div([
    
    # title
    html.H1(f'IVDA Praktikum Aufgabe 1', className='text-center pb-3'),
    # Dashboard
    # 1. Verteilung der Items? I'm not sure about what is Verteilung der Items, I use a table to show all informations of every players
    dag.AgGrid(
        id="enable-pagination",
        rowData=df.to_dict("records"),
        columnDefs=[{"field": i} for i in df.columns],
        defaultColDef={"filter": True},
        dashGridOptions={"pagination": True, "animateRows": False},

    ),

    
    # 2. Correlation between Overall and Age, Wage and Age
    dcc.Dropdown(
        options=['Overall', 'Wage(in Euro)', 'Potential', 'Value(in Euro)'], 
        value='Overall', placeholder='Select Y-Axis', id='y_options',
    ),
    dcc.Graph(figure=fig, id='correlation'),

    # Filter Dropdown for nationality and club
    # ideal: if I don't choose --> not filter by that dimension/ if I choose "all"(if I can figure it out) --> all nationality or club
    html.Div([
        dcc.Dropdown(
            # options=[{'label': 'All', 'value':'All'}] + [{'label': nationality, 'value': nationality} for nationality in df['Nationality'].unique()], # sorted(df['Nationality'].unique())
            id='nationality',
            options=df['Nationality'].unique(),
            value='Germany',
            placeholder='Select Nationality',
            style={'width':'300px'},
        ),
        dcc.Dropdown(
            # options=[{'label': 'All', 'value':'All'}] + [{'label': club, 'value': club} for club in df['Club Name'].unique()],
            id='club',
            options=df['Club Name'].unique(),
            value='RB Leipzig',
            placeholder='Select Club',
            style={'width':'300px'},
        ),
    ],style={'display': 'flex',
            'justify-content': 'center',
            'align-items': 'center',
            'flex-direction': 'column',
            'width': '100%'}),
    
    # section: comparasion between players
    html.Div([
        html.H3(f'Comparasion between players', className='text-center pb-3'),
        # choose two player and get image of two players
        dbc.Row([
            dbc.Col([],width=3, style={'textAlign':'center'}),
            dbc.Col([
                html.Div(
                    html.Img(id='player1_image',src='', style={'height':'120px'}), 
                        style={'border': '', 'padding': '10px'}
                ),
                dcc.Dropdown(
                    id='player1_dropdown', #this dropdown is every important in order to load image, basic info and all informations about this player
                    options=df['Full Name'].unique(),
                    value='Lionel Messi',
                    placeholder="Select Player 1"
                ),
            ], width=3, style={'textAlign':'center'}),
            dbc.Col([
                html.Div(
                    html.Img(id='player2_image', src='', style={'height':'120px'}), 
                            style={'border': '', 'padding': '10px'}),
                dcc.Dropdown(
                    id='player2_dropdown',
                    options=df['Full Name'].unique(),
                    value='Karim Benzema',
                    placeholder="Select Player 2"
                )
            ], width=3, style={'textAlign':'center'})
        ], justify="", className="mb-4"),
        dbc.Row([
            dbc.Col([
                html.Div([
                    html.P(f"Age", style=left_row_style),
                    html.P(f"Nationality", style=left_row_style),
                    html.P(f"Height", style=left_row_style),
                    html.P(f"Weight", style=left_row_style),
                    html.P(f"Club", style=left_row_style),
                    html.P(f"Best Position", style=left_row_style),
                    html.P(f"Preferred Foot", style=left_row_style),
                ])
            ], width=3, style={'textAlign':'center'}),
            # basic information of player1
            dbc.Col([
                html.Div(
                    id='player1_basic_information', 
                    style={'border': '', 'padding': '', 'width': '250px'})
            ], width=3, style={'textAlign':'center'}),
            # basic information of player2
            dbc.Col([
                html.Div(
                    id='player2_basic_information', 
                    style={'border': '', 'padding': '', 'width': '250px'})
            ], width=3, style={'textAlign':'center'}),
        ]),

    ]),

    # Footer
    html.Footer([
        html.Div([
            html.A('Author: Huo Jiang, Tina', href='https://github.com/hurryclear/interactive-visualization-data-analysis-app'),
            html.Span(' | '),
            html.A('Copyright', href='https://www.uni-leipzig.de')
        ], className='bg-light text-dark text-center py-3 fs-5')
    ])
])


# Section2: Correlation
# function filter_data: filter data by certain attributes and return filtered data
def filter_data(df, nationality, club):
    df_filtered = df.copy()
    if nationality and nationality != '':
        df_filtered = df_filtered[df_filtered['Nationality'] == nationality]

    if club and club != '':
        df_filtered = df_filtered[df_filtered['Club Name'] == club]
    return df_filtered

# add controls to build the interaction
@callback(
    Output(component_id='correlation', component_property='figure'),
    Input(component_id='y_options', component_property='value'), # input for the callback functions, this corresponds to col_chosen
    Input(component_id='nationality', component_property='value'),
    Input(component_id='club', component_property='value'),
)
def update_graph(col_chosen, nationality, club): # club
    
    # by nationality or club
    df_filtered = filter_data(df, nationality, club)

    # If neither is selected or both are set to "All", df_filtered will remain unfiltered (all data)

    # px.histogram(df, x='Age', y=col_chosen, histfunc='avg')
    # not like histogram in line chart there is no embedded avg function, so we have to group the data by the age first and caculate the avg of overall and wage
    df_avg_by_age = df_filtered.groupby('Age', as_index=False)[col_chosen].mean()

    fig = px.line(df_avg_by_age, x = 'Age', y = col_chosen, title=f'Average of {col_chosen} by Age', markers=True)
    return fig # what you return will be assigned to the callback output component_property, in this case fig1 will be return to figure


# Section3: comparasion between players
# update information of player1
@callback(
    Output(component_id='player1_image', component_property='src'),
    # Output(component_id='', component_property=''),
    # Output(component_id='', component_property=''),
    Input(component_id='player1_dropdown', component_property='value'),
)
def update_image_player1(player1_name):
    if player1_name:
        image_link = df.loc[df['Full Name']==player1_name, 'Image Link'] #use loc to retrieve the Image Link column
        return image_link.iloc[0] if not image_link.empty else ''
    return ''

# update image of player2
@callback(
    Output(component_id='player2_image', component_property='src'),
    Input(component_id='player2_dropdown', component_property='value')
)
def update_image_player2(player2_name):
    if player2_name:
        image_link = df.loc[df['Full Name']==player2_name, 'Image Link']
        return image_link.iloc[0] if not image_link.empty else ''
    return ''

# update basic information of player1
@callback(
    Output('player1_basic_information', 'children'),
    Output('player2_basic_information', 'children'),
    Input('player1_dropdown','value'),
    Input('player2_dropdown','value')
)
def update_basic_player1(player1_name, player2_name):
    attributes_display1 = []
    attributes_display2 = []
    if player1_name:
        player1_info = df.loc[df['Full Name'] == player1_name].iloc[0]
        attributes_display1.append(html.P(f"{player1_info['Age']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Nationality']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Height(in cm)']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Weight(in kg)']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Club Name']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Best Position']}", style=row_style))
        attributes_display1.append(html.P(f"{player1_info['Preferred Foot']}", style=row_style))
    if player2_name:
        player2_info = df.loc[df['Full Name'] == player2_name].iloc[0]
        attributes_display2.append(html.P(f"{player2_info['Age']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Nationality']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Height(in cm)']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Weight(in kg)']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Club Name']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Best Position']}", style=row_style))
        attributes_display2.append(html.P(f"{player2_info['Preferred Foot']}", style=row_style))
    return attributes_display1, attributes_display2 

if __name__ == '__main__':
    app.run_server(debug=True)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/groupby.py:1942, in GroupBy._agg_py_fallback(
    self=<pandas.core.groupby.generic.SeriesGroupBy object>,
    how='mean',
    values=array(['94000000', '26500000', '38500000', '3800...0', '2000000', '600000', '450000'], dtype=object),
    ndim=1,
    alt=<function GroupBy.mean.<locals>.<lambda>>
)
   1941 try:
-> 1942     res_values = self._grouper.agg_series(ser, alt, preserve_dtype=True)
        alt = <function GroupBy.mean.<locals>.<lambda> at 0x405a4c0e0>
        ser = 0     94000000
1     26500000
2     38500000
3     38000000
4     46000000
5     38000000
6     25500000
7     34500000
8     53000000
9     25000000
10    27500000
11    17500000
12    23000000
13    39500000
14    29500000
15    20000000
16    11500000
17    11000000
18    13000000
19    11500000
20     1200000
21     2000000
22      600000
23      450000
dtype: object
        self._grouper = <pandas.core.groupby.ops.BaseGrouper object at 0x3f2d2d130>
        self = <pandas.core.groupby.generic.SeriesGroupBy object at 0x41774cc50>
   1943 except Exception as err:

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/ops.py:864, in BaseGrouper.agg_series(
    self=<pandas.core.groupby.ops.BaseGrouper object>,
    obj=0     94000000
1     26500000
2     38500000
3  ...00000
22      600000
23      450000
dtype: object,
    func=<function GroupBy.mean.<locals>.<lambda>>,
    preserve_dtype=True
)
    862     preserve_dtype = True
--> 864 result = self._aggregate_series_pure_python(obj, func)
        obj = 0     94000000
1     26500000
2     38500000
3     38000000
4     46000000
5     38000000
6     25500000
7     34500000
8     53000000
9     25000000
10    27500000
11    17500000
12    23000000
13    39500000
14    29500000
15    20000000
16    11500000
17    11000000
18    13000000
19    11500000
20     1200000
21     2000000
22      600000
23      450000
dtype: object
        func = <function GroupBy.mean.<locals>.<lambda> at 0x405a4c0e0>
        self = <pandas.core.groupby.ops.BaseGrouper object at 0x3f2d2d130>
    866 npvalues = lib.maybe_convert_objects(result, try_float=False)

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/ops.py:885, in BaseGrouper._aggregate_series_pure_python(
    self=<pandas.core.groupby.ops.BaseGrouper object>,
    obj=0     94000000
1     26500000
2     38500000
3  ...00000
22      600000
23      450000
dtype: object,
    func=<function GroupBy.mean.<locals>.<lambda>>
)
    884 for i, group in enumerate(splitter):
--> 885     res = func(group)
        group = 22    600000
23    450000
dtype: object
        func = <function GroupBy.mean.<locals>.<lambda> at 0x405a4c0e0>
    886     res = extract_result(res)

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/groupby.py:2454, in GroupBy.mean.<locals>.<lambda>(
    x=22    600000
23    450000
dtype: object
)
   2451 else:
   2452     result = self._cython_agg_general(
   2453         "mean",
-> 2454         alt=lambda x: Series(x, copy=False).mean(numeric_only=numeric_only),
        numeric_only = False
        x = 22    600000
23    450000
dtype: object
   2455         numeric_only=numeric_only,
   2456     )
   2457     return result.__finalize__(self.obj, method="groupby")

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/series.py:6549, in Series.mean(
    self=22    600000
23    450000
dtype: object,
    axis=0,
    skipna=True,
    numeric_only=False,
    **kwargs={}
)
   6541 @doc(make_doc("mean", ndim=1))
   6542 def mean(
   6543     self,
   (...)
   6547     **kwargs,
   6548 ):
-> 6549     return NDFrame.mean(self, axis, skipna, numeric_only, **kwargs)
        self = 22    600000
23    450000
dtype: object
        axis = 0
        skipna = True
        numeric_only = False
        kwargs = {}

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/generic.py:12420, in NDFrame.mean(
    self=22    600000
23    450000
dtype: object,
    axis=0,
    skipna=True,
    numeric_only=False,
    **kwargs={}
)
  12413 def mean(
  12414     self,
  12415     axis: Axis | None = 0,
   (...)
  12418     **kwargs,
  12419 ) -> Series | float:
> 12420     return self._stat_function(
        self = 22    600000
23    450000
dtype: object
        axis = 0
        skipna = True
        numeric_only = False
        nanops = <module 'pandas.core.nanops' from '/opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/nanops.py'>
        kwargs = {}
  12421         "mean", nanops.nanmean, axis, skipna, numeric_only, **kwargs
  12422     )

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/generic.py:12377, in NDFrame._stat_function(
    self=22    600000
23    450000
dtype: object,
    name='mean',
    func=<function nanmean>,
    axis=0,
    skipna=True,
    numeric_only=False,
    **kwargs={}
)
  12375 validate_bool_kwarg(skipna, "skipna", none_allowed=False)
> 12377 return self._reduce(
        self = 22    600000
23    450000
dtype: object
        name = 'mean'
        skipna = True
        func = <function nanmean at 0x116389a80>
        axis = 0
        numeric_only = False
  12378     func, name=name, axis=axis, skipna=skipna, numeric_only=numeric_only
  12379 )

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/series.py:6457, in Series._reduce(
    self=22    600000
23    450000
dtype: object,
    op=<function nanmean>,
    name='mean',
    axis=0,
    skipna=True,
    numeric_only=False,
    filter_type=None,
    **kwds={}
)
   6453     raise TypeError(
   6454         f"Series.{name} does not allow {kwd_name}={numeric_only} "
   6455         "with non-numeric dtypes."
   6456     )
-> 6457 return op(delegate, skipna=skipna, **kwds)
        delegate = array(['600000', '450000'], dtype=object)
        op = <function nanmean at 0x116389a80>
        skipna = True
        kwds = {}

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/nanops.py:147, in bottleneck_switch.__call__.<locals>.f(
    values=array(['600000', '450000'], dtype=object),
    axis=None,
    skipna=True,
    **kwds={}
)
    146 else:
--> 147     result = alt(values, axis=axis, skipna=skipna, **kwds)
        alt = <function nanmean at 0x1163899e0>
        skipna = True
        values = array(['600000', '450000'], dtype=object)
        axis = None
        kwds = {}
    149 return result

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/nanops.py:404, in _datetimelike_compat.<locals>.new_func(
    values=array(['600000', '450000'], dtype=object),
    axis=None,
    skipna=True,
    mask=None,
    **kwargs={}
)
    402     mask = isna(values)
--> 404 result = func(values, axis=axis, skipna=skipna, mask=mask, **kwargs)
        values = array(['600000', '450000'], dtype=object)
        func = <function nanmean at 0x116389940>
        mask = None
        axis = None
        skipna = True
        kwargs = {}
    406 if datetimelike:

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/nanops.py:720, in nanmean(
    values=array(['600000', '450000'], dtype=object),
    axis=None,
    skipna=True,
    mask=array([False, False])
)
    719 the_sum = values.sum(axis, dtype=dtype_sum)
--> 720 the_sum = _ensure_numeric(the_sum)
        the_sum = '600000450000'
    722 if axis is not None and getattr(the_sum, "ndim", False):

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/nanops.py:1701, in _ensure_numeric(x='600000450000')
   1699 if isinstance(x, str):
   1700     # GH#44008, GH#36703 avoid casting e.g. strings to numeric
-> 1701     raise TypeError(f"Could not convert string '{x}' to numeric")
   1702 try:

TypeError: Could not convert string '600000450000' to numeric

The above exception was the direct cause of the following exception:

TypeError                                 Traceback (most recent call last)
Cell In[56], line 168, in update_graph(
    col_chosen='Value(in Euro)',
    nationality=None,
    club='RB Leipzig'
)
    162 df_filtered = filter_data(df, nationality, club)
    164 # If neither is selected or both are set to "All", df_filtered will remain unfiltered (all data)
    165
    166 # px.histogram(df, x='Age', y=col_chosen, histfunc='avg')
    167 # not like histogram in line chart there is no embedded avg function, so we have to group the data by the age first and caculate the avg of overall and wage
--> 168 df_avg_by_age = df_filtered.groupby('Age', as_index=False)[col_chosen].mean()
        df_filtered =              Known As                      Full Name  Overall  Potential  \
61          C. Nkunku             Christopher Nkunku       86         89
88         P. Gulácsi                  Péter Gulácsi       85         85
159         K. Laimer                  Konrad Laimer       83         84
212         T. Werner                    Timo Werner       82         84
230         Dani Olmo           Daniel Olmo Carvajal       82         87
243       André Silva  André Miguel Valente da Silva       82         84
247          W. Orban                    Willi Orban       82         82
281           D. Raum                     David Raum       81         85
301       J. Gvardiol                 Joško Gvardiol       81         89
349       E. Forsberg                  Emil Forsberg       81         81
380       X. Schlager                 Xaver Schlager       80         84
442          K. Kampl                    Kevin Kampl       80         80
475    L. Klostermann              Lukas Klostermann       80         82
518     D. Szoboszlai             Dominik Szoboszlai       79         87
695        M. Simakan                Mohamed Simakan       78         86
701        A. Haidara                 Amadou Haidara       78         82
755    M. Halstenberg             Marcel Halstenberg       78         78
1005       Y. Poulsen                 Yussuf Poulsen       77         77
1033      B. Henrichs              Benjamin Henrichs       77         80
1070        A. Diallo                   Abdou Diallo       77         79
3196      J. Blaswich                 Janis Blaswich       72         72
8771       Hugo Novoa               Hugo Novoa Ramos       66         79
15257           S. Ba                    Sanoussy Ba       60         76
16159     J. Nickisch                 Jonas Nickisch       58         74

      Value(in Euro) Positions Played Best Position Nationality  \
61          94000000        CF;CAM;ST           CAM      France
88          26500000               GK            GK     Hungary
159         38500000           CDM;CM           CDM     Austria
212         38000000            ST;LW            ST     Germany
230         46000000           CAM;CF           CAM       Spain
243         38000000               ST            ST    Portugal
247         25500000               CB            CB     Hungary
281         34500000        LWB;LM;LB           LWB     Germany
301         53000000            CB;LB            CB     Croatia
349         25000000        CAM;CF;ST           CAM      Sweden
380         27500000           CDM;CM           CDM     Austria
442         17500000           CM;CDM            CM    Slovenia
475         23000000           CB;RWB            RB     Germany
518         39500000           CAM;LM           CAM     Hungary
695         29500000               CB            CB      France
701         20000000        CM;CDM;RM            CM        Mali
755         11500000           CB;LWB            CB     Germany
1005        11000000               ST            ST     Denmark
1033        13000000        RWB;RM;CM           RWB     Germany
1070        11500000            CB;LB            CB     Senegal
3196         1200000               GK            GK     Germany
8771         2000000            ST;CF            ST       Spain
15257         600000           LWB;LM           LWB     Germany
16159         450000               GK            GK     Germany

                                             Image Link  Age  ...  LM Rating  \
61     https://cdn.sofifa.net/players/232/411/23_60.png   24  ...         89
88     https://cdn.sofifa.net/players/185/122/23_60.png   32  ...         34
159    https://cdn.sofifa.net/players/225/375/23_60.png   25  ...         81
212    https://cdn.sofifa.net/players/212/188/23_60.png   26  ...         83
230    https://cdn.sofifa.net/players/244/260/23_60.png   24  ...         83
243    https://cdn.sofifa.net/players/228/941/23_60.png   26  ...         81
247    https://cdn.sofifa.net/players/204/638/23_60.png   29  ...         57
281    https://cdn.sofifa.net/players/236/703/23_60.png   24  ...         79
301    https://cdn.sofifa.net/players/251/517/23_60.png   20  ...         73
349    https://cdn.sofifa.net/players/208/448/23_60.png   30  ...         81
380    https://cdn.sofifa.net/players/233/195/23_60.png   24  ...         76
442    https://cdn.sofifa.net/players/195/365/23_60.png   31  ...         80
475    https://cdn.sofifa.net/players/222/331/23_60.png   26  ...         74
518    https://cdn.sofifa.net/players/236/772/23_60.png   21  ...         80
695    https://cdn.sofifa.net/players/243/854/23_60.png   22  ...         65
701    https://cdn.sofifa.net/players/238/463/23_60.png   24  ...         79
755    https://cdn.sofifa.net/players/210/665/23_60.png   30  ...         72
1005   https://cdn.sofifa.net/players/207/791/23_60.png   28  ...         77
1033   https://cdn.sofifa.net/players/228/579/23_60.png   25  ...         74
1070   https://cdn.sofifa.net/players/225/711/23_60.png   26  ...         72
3196   https://cdn.sofifa.net/players/204/092/23_60.png   31  ...         33
8771   https://cdn.sofifa.net/players/258/041/23_60.png   19  ...         63
15257  https://cdn.sofifa.net/players/269/875/23_60.png   18  ...         59
16159  https://cdn.sofifa.net/players/267/460/23_60.png   18  ...         22

       CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
61            86         89          80         77          80         77
88            36         34          34         36          34         34
159           82         81          84         84          84         83
212           74         83          64         59          64         60
230           82         83          71         70          71         67
243           78         81          67         67          67         64
247           62         57          71         76          71         74
281           76         79          81         76          81         79
301           74         73          79         80          79         80
349           80         81          65         64          65         59
380           80         76          77         81          77         75
442           80         80          76         76          76         72
475           71         74          82         78          82         82
518           76         80          62         59          62         58
695           68         65          74         77          74         76
701           80         79          76         76          76         74
755           73         72          77         76          77         77
1005          72         77          68         67          68         67
1033          73         74          77         76          77         76
1070          73         72          77         78          77         78
3196          34         33          30         33          30         29
8771          56         63          44         41          44         43
15257         55         59          60         55          60         59
16159         25         22          21         23          21         21

      CB Rating RB Rating GK Rating
61           70        77        20
88           36        34        85
159          81        83        21
212          52        60        22
230          58        67        24
243          63        64        22
247          82        74        20
281          74        79        19
301          83        80        18
349          50        59        22
380          75        75        18
442          64        72        21
475          82        82        19
518          49        58        19
695          80        76        19
701          70        74        18
755          78        77        22
1005         67        67        20
1033         74        76        20
1070         79        78        18
3196         31        29        72
8771         37        43        19
15257        55        59        16
16159        22        21        59

[24 rows x 89 columns]
        col_chosen = 'Value(in Euro)'
    170 fig = px.line(df_avg_by_age, x = 'Age', y = col_chosen, title=f'Average of {col_chosen} by Age', markers=True)
    171 return fig # what you return will be assigned to the callback output component_property, in this case fig1 will be return to figure

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/groupby.py:2452, in GroupBy.mean(
    self=<pandas.core.groupby.generic.SeriesGroupBy object>,
    numeric_only=False,
    engine=None,
    engine_kwargs=None
)
   2445     return self._numba_agg_general(
   2446         grouped_mean,
   2447         executor.float_dtype_mapping,
   2448         engine_kwargs,
   2449         min_periods=0,
   2450     )
   2451 else:
-> 2452     result = self._cython_agg_general(
        self = <pandas.core.groupby.generic.SeriesGroupBy object at 0x41774cc50>
        numeric_only = False
   2453         "mean",
   2454         alt=lambda x: Series(x, copy=False).mean(numeric_only=numeric_only),
   2455         numeric_only=numeric_only,
   2456     )
   2457     return result.__finalize__(self.obj, method="groupby")

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/groupby/groupby.py:1998, in GroupBy._cython_agg_general(
    self=<pandas.core.groupby.generic.SeriesGroupBy object>,
    how='mean',
    alt=<function GroupBy.mean.<locals>.<lambda>>,
    numeric_only=False,
    min_count=-1,
    **kwargs={}
)
   1995     result = self._agg_py_fallback(how, values, ndim=data.ndim, alt=alt)
   1996     return result
-> 1998 new_mgr = data.grouped_reduce(array_func)
        data = SingleBlockManager
Items: Index([   61,    88,   159,   212,   230,   243,   247,   281,   301,   349,
         380,   442,   475,   518,   695,   701,   755,  1005,  1033,  1070,
        3196,  8771, 15257, 16159],
      dtype='int64')
NumpyBlock: 24 dtype: object
   1999 res = self._wrap_agged_manager(new_mgr)
   2000 if how in ["idxmin", "idxmax"]:

File /opt/miniconda3/envs/ivda/lib/python3.12/site-packages/pandas/core/internals/base.py:367, in SingleDataManager.grouped_reduce(
    self=SingleBlockManager
Items: Index([   61,    88,  ...      dtype='int64')
NumpyBlock: 24 dtype: object,
    func=<function GroupBy._cython_agg_general.<locals>.array_func>
)
    365 def grouped_reduce(self, func):
    366     arr = self.array
--> 367     res = func(arr)
        arr = array(['94000000', '26500000', '38500000', '38000000', '46000000',
       '38000000', '25500000', '34500000', '53000000', '25000000',
       '27500000', '17500000', '23000000', '39500000', '29500000',
       '20000000', '11500000', '11000000', '13000000', '11500000',
       '1200000', '2000000', '600000', '450000'], dtype=object)
        func = <function GroupBy._cython_agg_general.<locals>.array_func at 0x405a4f560>
    368     index = default_index(len(res))
    370     mgr = type(self).from_array(res, index)
